<!doctype html>
<html lang="en-us" ng-app="app">
  <head>
    <title>Deck of Cards</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div ng-controller="DeckCtrl" class="content">

      <section class="menu">
        <button ng-click="deck.shuffleCards()">Shuffle</button>
        <button ng-click="deck.sortCards()">Sort</button>
      </section>

      <section class="cards">
        <card ng-repeat="card in deck.cards"></card>
      </section>

    </div>

    <script src="build/js/app.js"></script>
  </body>
</html>
